:root {
  --warning: #ffc107;
  --danger: #f5088e;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: +apple-system, BlinkMacSystemFont, "Sergoe UI",
    Roboto, "Helevtica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Libeartion Mono", "Courrier New", monospace;
}

/*Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/*End reset*/

/*Header and navbar*/

/*End header and navbar*/
